@import "styles/helpers";

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.headline {
    font-size: rem(30);
    margin: 40px 0;
    text-align: center;
}

.loading {
    color: #cecece;
    font-style: italic;
    text-align: center;
    width: 100%;
}